<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!-- Development 環境設定 -->
	<add key="DevHost" value="localhost" />
	<add key="DevUserName" value="root" />
	<add key="DevPassword" value="root" />
	<add key="DevPort" value="3306" />
	<add key="DevDatabase" value="dct" />
	<!-- Production 環境設定 -->
	<add key="ProdHost" value="10.16.92.67" />
	<add key="ProdUserName" value="5910" />
	<add key="ProdPassword" value="TID_5910!" />
	<add key="ProdPort" value="3306" />
	<add key="ProdDatabase" value="dct" />
  </appSettings>
  <connectionStrings>
    <add name="ApiUrl" connectionString="http://10.16.93.46:3001/" />
    <add name="AuthKey" connectionString="authorization" />
    <add name="ApiUser" connectionString="K15668" />
    <add name="ApiPassword" connectionString="K15668" />
    <add name="FtpIp" connectionString="10.16.92.67" />
    <add name="FtpUser" connectionString="tid" />
    <add name="FtpPassword" connectionString="5900" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>