<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApiUrl" connectionString="http://10.16.93.46:3001/"/>
    <add name="AuthKey" connectionString="authorization" />
    <add name="ApiUser" connectionString="K09865" />
    <add name="ApiPassword" connectionString="a123456" />
    <add name="PoolName" connectionString="dct_import"/>
    <add name="Host" connectionString="10.16.93.46"/>
    <add name="Port" connectionString="3306"/>
    <add name="User" connectionString="5940"/>
    <add name="Password" connectionString="5940"/>
    <add name="Database" connectionString="dct"/>
    <add name="FtpIp" connectionString="10.16.92.67"/>
    <add name="FtpUser" connectionString="tid"/>
    <add name="FtpPassword" connectionString="5900"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>